@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1a1a1a;
    display: flex;
}

/* Main */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Section */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
.title {
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
}

 /* Card */
.card {
    background: #282828;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    width: 25vw;
    height: 70vh;
}

 /* Tasks */
.tasks {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    margin-top: 10px;
}

.tasks input[type=checkbox]:checked ~ label {
    opacity: 0.75;
    text-decoration: line-through;
 }

.tasks input[type="checkbox"] {
    margin: 0 30px 0 30px;
}

label {
    position: absolute;
    margin-left: 60px;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

/* Buttons */
.button.new {
    background: #084B83;
    color: white;
    font-size: 24px;
    width: 55px;
    height: 55px;
    margin-top: -30px;
    text-decoration: none;
    border-radius: 100%;
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.new:hover {
    transition: 0.3s;
    opacity: 1;
}

.button.cancel {
    color: #e92929;
    text-decoration: none;
    border: 2px #e92929 solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {
    transition: 0.1s;
    opacity: 1;
}

.tasks .button.remove {
    color: #e92929;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    cursor: pointer;
}

.modal button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: #084B83;
    padding: 0;
    opacity: 0.9;
    border-radius: 0.25rem;
    cursor: pointer;
}

.modal button:hover {
    transition: 0.3s;
    opacity: 1;
}

/* Modal */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    border-radius: 5px;
    width: 40vw;
    background: #202020;
    color: white;
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}

/* Form */
form input {
    padding: 0.8rem;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 4vh;
}

.input-group {
    margin: 15px 0 20px 0;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}